*   @madeiratech/admins
/2017/1.md  @pgte
/2017/2.md  @andregoncalves @tiagoovieira
/2017/5.md  @dethos @b2rsp
/2019/9.md @adaptive
/2019/13.md @elsonponte @adaptive
/2017/14.md @b2rsp @eliocro
/2019/15.md @sebastiandenis @ruiaureliano @jobernas
/2019/16.md @pgte @adaptive